* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#coor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
body {
    background-color: black;
}
div {
    border: 1px solid black;
}
#formation {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#pro {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}